.footer {
    background-color: #b8a423; /* צבע רקע */
    color: white; /* צבע טקסט */
    text-align: center; /* ממרכז את הטקסט */
    padding: 20px; /* ריפוד פנימי */
    left: 0; /* מיקום משמאל */
    margin: 0;
}

