.navbar {
   width: 100%;
  }
  
  .nav-links {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    flex-direction:row-reverse;
    background-color: rgb(41, 47, 70);
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .nav-links a:hover {
    color: #b8a423;
    text-decoration: underline;
  }
  
  .nav-links a.active {
    color: #b8a423;
    font-weight: bold;
  }
.logo{
  width: 5%;
  
}
  